/* Basic styles */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* CSS untuk papan permainan */
.board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 400px;
    margin: auto;
}

.card {
    width: 100px;
    height: 100px;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
}

#game-container {
    margin-top: 20px;
}

#start-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 100;
}

#start-button:hover {
    background-color: #2980b9;
}
