body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

#game-container {
    text-align: center;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.game-row {
    display: flex;
    justify-content: center;
}

.game-cell {
    width: 60px;
    height: 60px;
    margin: 5px;
    background-color: #ccc;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: transparent;
    border: 2px solid #ddd;
    transition: background-color 0.3s, color 0.3s;
}

.game-cell.flipped {
    background-color: #fff;
    color: #000;
}

.game-cell.matched {
    background-color: #a8d5e2;
    color: #000;
}
